<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uk.co.thomasc.wordmaster"
	android:versionName="dev-SNAPSHOT" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<permission android:name="uk.co.thomasc.wordmaster.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="uk.co.thomasc.wordmaster.gcm.permission.C2D_MESSAGE" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/FullscreenTheme" >
		<activity
			android:name="uk.co.thomasc.wordmaster.BaseGame"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@style/FullscreenTheme" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".TurnReceiver" android:permission="com.google.android.c2dm.permission.SEND">
		    <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="uk.co.thomasc.wordmaster.gcm" />
            </intent-filter>
		</receiver>
		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		
	</application>

</manifest>
